@model List<MVC_lab.Models.EventModel>

@{
    ViewBag.Title = "DisplayAll";
}

<h2>Display All Events</h2>

@Html.ActionLink("Add new event", "NewEvent")

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Name</td>
                <td>@e.Location</td>
                <td>
                    @Html.ActionLink("Edit", "EditEvent", new { id = e.Id })
                @Html.ActionLink("Delete", "DeleteEvent", new { id = e.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
